/* admin main styles */
h2 { margin-bottom: 20px; }
.cptitle { margin: 0px !important; background: #DFDFDF repeat-x scroll left top; padding: 10px; font-family: Georgia, serif; font-weight: normal !important; letter-spacing: 1px; font-size: 18px; }
.container { background: #EAF3FA; padding: 10px; }
.maintable { font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; background: #F9F9F9; margin-bottom: 20px; padding: 10px 0px; border:1px solid #E6E6E6; width: 100%;}
.mainrow { padding-bottom: 10px !important; border-bottom: 1px solid #E6E6E6 !important; float: left; margin: 0px 10px 10px 10px !important; }
.cptitledesc { font-size: 12px; font-weight:bold; width: 220px !important; margin-right: 20px !important; }
.forminp { width: 700px !important; vertical-align:middle !important; }
.forminp input, .forminp select { margin-bottom: 9px !important; padding: 5px !important; height:auto !important; }
.forminp textarea { margin-bottom: 9px !important; padding: 6px; }
.forminp input[readonly], .forminp select[readonly], .forminp select[disabled], .forminp textarea[readonly] {color:#AAAAAA; background-color:#EEEEEE; }
.forminp input:focus[readonly], .forminp select:focus[readonly], .forminp select:focus[disabled], .forminp textarea:focus[readonly] {color:#AAAAAA; background-color:#EEEEEE; }
.forminp input:focus, .forminp textarea:focus {border:1px solid #CCCCCC;background-color: #F9F9F9;}
.forminp input.upload_button {padding: 4px !important; -khtml-border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.forminp .upload_image_preview {margin-top:7px;}
.info { background: #FFFFCC; border: 1px solid #E6DB55; padding: 10px; color: #333; -moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.forminp .checkbox { width:20px }
.info a { color: #333; text-decoration: none; border-bottom: 1px dotted #333 }
.info a:hover { color: #666; border-bottom: 1px dotted #666; }
.warning { background: #FFEBE8; border: 1px solid #CC0000; padding: 10px; color: #333; -moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

/* images section legacy */
.one_category {border: 1px #5795C3 solid; margin-bottom: 30px; padding: 10px;}
.nothing {color: #FF0000; float: right;}
.one_category_name {background-color: #5795C3; text-align: center; color: #fff; font-size: 13px; padding: 3px 0;}
.one_cat_img {float: left;margin: 0 0px 5px 5px;padding: 2px;display: block;width: 40px;text-align: center;}
.one_cat_img:hover {background-color: #fff;}
input.form-table-radio{cursor: pointer;border: none;}
.classipress_images {height: 455px;	overflow: scroll;padding-top: 10px;	font-size: 10px;font-family: verdana;}
.oneimage-box {	padding-bottom: 20px;float: left;padding-left: 10px;width: 120px;}
.oneimage-box:hover {background-color: #F4F4F4;}
.oneimage {border: 4px #5795C3 solid;float: left;width: 100px;height: 100px;display: block;}
.del_image {background-color: #981401;padding: 3px 5px;	color: #fff;font-weight: bold;}

/* admin dashboard section */
.dash-left {float:left; width:49%; padding-right: .5%;}
.dash-right {float:left; width:49%; padding-right: .5%;}
div.dash-wrap {margin: 0 5px; min-height: 300px;}
#boxy {margin: 10px 0;}
ul#stats {font-size: 12px;}
.rsswidget {text-decoration: none; font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-size:13px; line-height:1.7em;}
.rss-date {color:#999999;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size:11px;margin-left:3px;}
.rss-widget ul li {line-height:1.5em;}
.postbox .hndle {cursor:default;}
.postbox p, .postbox ul, .postbox ol, .postbox blockquote {font-size:11px;}

div.stats-info {float:left;width:45%;}
div.stats_overview { float: right; width: 45%; background: none repeat scroll 0 0 #F9F9F9; border: 1px solid #DFDFDF; -moz-border-radius: 5px;-webkit-border-radius: 5px;-o-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
.stats_overview, .overview_today {float: left; width: 50%;}
.stats_overview, .overview_previous {float: left; width: 50%;}
.stats_overview p.overview_day { font-size: 12px !important;color: #666666; font-weight: bold; margin-top: 6px;}
.stats_overview p {margin: 0;padding: 0;text-align: center;text-shadow: 0 1px 0 #FFFFFF;text-transform: uppercase;}
.stats_overview h3 {text-align: center;text-shadow: 0 1px 0 #FFFFFF;}
.stats_overview p.overview_count {color: #333333;font-size: 20px !important;font-weight: bold;}
.stats_overview p.overview_type em {background: none repeat scroll 0 0 #FFFBE4;border-radius: 3px 3px 3px 3px;padding: 1px 5px 2px;}
.stats_overview p.overview_type, .stats_overview p.overview_type_seek { color: #999999; font-size: 9px !important; margin-bottom: 7px;}
.stats_overview p.overview_type_seek em { background: none repeat scroll 0 0 #FFFBE4; border-radius: 3px 3px 3px 3px;padding: 1px 5px 2px;}

p.btop {padding:0px; margin-bottom:-5px;text-shadow: 0 1px 0 #FFFFFF;}
p.btop input {line-height: 15px;}
p.bbot {padding:0 0 30px 0; margin-top:-5px;text-shadow: 0 1px 0 #FFFFFF;}
p.bbot input {line-height: 15px;}

.postbox .statsico{float:left; height:25px; width:28px; background:transparent url(../../images/chart-bar.png) no-repeat scroll 6px 4px}
.postbox .newspaperico{float:left; height:25px; width:27px; background:transparent url(../../images/newspaper.png) no-repeat scroll 5px 5px}
.postbox .twitterico{float:left; height:25px; width:25px; background:transparent url(../../images/twitter-bird.png) no-repeat scroll 5px 5px}
.postbox .forumico{float:left; height:25px; width:27px; background:transparent url(../../images/comments.png) no-repeat scroll 6px 6px}
.postbox .rssico{float:right; height:25px; width:20px; background:transparent url(../../images/rss-sm.png) no-repeat scroll 0 8px}

.helpico{float:right; height:16px; width:16px; margin-left:7px; background:transparent url(../../images/help.png) no-repeat scroll 0 0}
.feedburnerico{float:left; height:16px; width:16px; padding-right:3px; background:transparent url(../../images/feedburner.png) no-repeat scroll 0 0}
.twitterico{float:left; height:16px; width:16px; padding-right:3px; background:transparent url(../../images/twitter.png) no-repeat scroll 0 0}
.facebookico{float:left; height:16px; width:16px; padding-right:3px; background:transparent url(../../images/facebook.png) no-repeat scroll 0 0}
.googleico{float:left; height:16px; width:16px; padding-right:3px; background:transparent url(../../images/google.png) no-repeat scroll 0 0}

#easyTooltip{ padding:10px; border:1px solid #ccc; background:#E3F4F9; width:400px; text-shadow: 0 1px 0 white; -moz-border-radius:8px; -webkit-border-radius: 8px; border-radius: 8px;}

.alt:hover, .even:hover{ background-color:#EAF2FA !important}
.widefat .column-id {width: 3.0em;vertical-align: top;}

/* error styles */
input.invalid, textarea.invalid, select.invalid{ background-color:#FFEBE8 !important; border-color:#C00 !important}
label.invalid{ float:none; font:bold 12px arial; color:#C00; padding-left:20px; vertical-align:top}
.updated p, .error p {line-height:1.2em !important;}

/* round out the category div corners */
#categorydiv div.tabs-panel{ overflow:auto; width:398px; height:250px; border: 1px solid #DFDFDF; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
ul#categorychecklist {padding:5px 10px; }
ul#categorychecklist li {padding:1px 0; }
ul#categorychecklist input {margin-bottom:0 !important;}
ul#categorychecklist label.selectit {}
ul#categorychecklist ul.children, ul#categorychecklist ul.children ul.children, ul#categorychecklist ul.children ul.children ul.children {margin-left:20px; }
.widefat tbody th.check-column{ padding:0 !important; vertical-align:middle !important}
div.fields-panel{height:250px; overflow:auto; width:400px; -moz-border-radius:4px !important}

#tblspacer{margin:20px 0}
.widefat td{padding:12px 7px; vertical-align:top}
span#curr{vertical-align:top}
input.radiobutt{vertical-align:text-top}
.admin-msg{ margin:10px 10px -10px 10px}

/* css for custom fields meta box on ad edit page */
#ad-meta-box table.ad-meta-table, #images-meta-box table.ad-meta-table { border-collapse: separate; margin-top: 0; background-color: #F9F9F9; border: 1px solid #DFDFDF; -khtml-border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#ad-meta-box table.ad-meta-table th, #images-meta-box table.ad-meta-table th { font-weight: bold; background-color: #F1F1F1; -khtml-border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#ad-meta-box td.ad-conf-id span, #images-meta-box td.ad-conf-id span { background-color: #DBDBDB; color: #666666; font-size: 11px; padding: 3px; text-shadow: 0 1px 0 #FFFFFF; }
#ad-meta-box input.text, #images-meta-box input.text { min-width:260px; }
#ad-meta-box img.avatar, #images-meta-box img.attachment-thumbnail { padding:2px; border: 1px solid #DFDFDF; float: left; margin-right: 5px; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#ad-meta-box div.scrollbox, #images-meta-box div.scrollbox { float: left; max-height: 150px; min-width: 250px; overflow: auto; padding: 5px; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#ad-meta-box ol.radios, #ad-meta-box ol.checkboxes, #images-meta-box ol.radios, #images-meta-box ol.checkboxes {list-style-type: none; padding: 0 10px 0 0; margin-left: 0px; }
#ad-meta-box li, #images-meta-box li { white-space: nowrap; padding: 0 20px 0 0; margin-bottom: 3px; }

#ad-meta-box table #ad-id, #ad-meta-box table #ad-stats {float:left; padding-right: 20px;}
#ad-meta-box table #statsico{float:left; padding-right: 5px; height:16px; width:16px; background:transparent url(../../images/chart-bar.png) no-repeat scroll 0 0; }
#ad-meta-box table #keyico{float:left; padding-right: 4px; height:16px; width:16px; background:transparent url(../../images/key.png) no-repeat scroll 0 0; }
#ui-datepicker-div {font-size: 12px;}

/* css for custom image fields meta box on ad edit page */
#images-meta-box  #imageid {display:none;}
#images-meta-box .upload_image_preview {margin-top:7px;}
#images-meta-box .upload_image_preview img {padding:3px; border: 1px solid #DFDFDF; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* css for date& timepicker */
#ui-datepicker-div {font-size:12px; }
.ui-datepicker-trigger { cursor: pointer; background: url(../../images/icon_calendar.png) no-repeat; margin:3px 0 0 5px; padding:0 10px 0;height:16px;width:16px; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div .ui_tpicker_hour div { padding-right: 2px; }
.ui-timepicker-div .ui_tpicker_minute div { padding-right: 6px; }
.ui-timepicker-div .ui_tpicker_second div { padding-right: 6px; }
.ui-timepicker-div td { font-size: 90%; }

/* refine search jquery slider */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.content_right div#slider-range, .content_right div#dist-slider{ margin:2px 0 10px; }
.content_right ul.refine .ui-widget-content {border: 1px solid #CCCCCC !important;}

/* admin ajax sorting styles */
tbody.ui-sortable tr {border-top:1px solid #dfdfdf;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
tbody.sortable tr.even:hover {cursor:move;}
tr.ui-placeholder { background-color: #dbdbdb;}
tr.ui-state-highlight { color: #F6F698; height: 5.5em; line-height: 1.2em;}
tr.ui-sortable-helper { height: 8.5em; line-height: 1.2em; background-color: #dbdbdb;}
span#loading img {margin-bottom:-1px;}

/* admin tabs */
#tabs-wrap ul.tabs {max-width: 810px;margin:25px 20px 0;}
#tabs-wrap ul.tabs li {background:none repeat scroll 0 0 #F4F4F4;border-color:#DFDFDF;font-weight:bold;margin-bottom:0;-moz-border-radius:5px 5px 0 0;-khtml-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;border-style:solid;border-width:1px 1px 0;color:#C1C1C1;display:inline-block;font-size:12px;line-height:16px;margin:0 6px -1px 0;padding:4px 14px 6px;text-decoration:none;}
* html #tabs-wrap ul.tabs li{ display:inline; }  /* for IE 6 */
* + html #tabs-wrap ul.tabs li { display:inline; }  /* for IE 7 */
#tabs-wrap ul.tabs li a {text-decoration:none;text-shadow:0 1px 0 #FFFFFF;color:#C1C1C1;}
#tabs-wrap ul.tabs li.ui-state-active a, #tabs-wrap li a:hover{color:#464646;}
#tabs-wrap ul.tabs li.ui-state-active {background:none repeat scroll 0 0 #ECECEC;border-color:#CCCCCC;border-bottom:1px solid #ECECEC;border-width:1px;}
#tabs-wrap ul.tabs li.ui-state-active:hover {border-bottom:1px solid #ECECEC;}
#tabs-wrap ul.tabs li:hover {border-color:#CCCCCC;}

/* dashboard charts */
#placeholder {width:100%;height:250px;}
#charttooltip {font-size:11px;	border: 1px solid #e3e3e3;background-color: #f1f1f1;padding: 3px 7px;margin-left:15px;-khtml-border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;text-shadow:1px 1px 0 #ffffff;}