
/* main */
h1.single, span.colour { color:#3e9286;}
div.bigright span { color:#3e9286; font-weight: bold;}
div#mcwrap span { font-size: 16px; color:#3e9286; font-weight: bold;}
a { color:#3e9286; text-decoration:underline;}

/* header */
.header_top { background:#1a1a1a url(../images/topheader_bg.gif) repeat-x top; border-bottom:2px solid #323232; }
.header_main { background:#313131 url(../images/header_allbg.gif) repeat-x top; }
.header_main_bg { background:url(../images/header_bg.jpg) no-repeat top center; clear:both; padding:25px 0; position:relative; }
.header_top_res p a { color:#6dbd9d; text-decoration:none;}
.header_main_res #logo h1 { color:#EFEFEF; font-size:38px; margin:0px; padding:0px; }
.header_main_res #logo h1 a { color:#EFEFEF; text-decoration: none; margin:0px; padding:0px; }
.header_main_res .description { color:#999999; font-family:Georgia,serif; font-size:14px; font-style:italic; }
.header_menu { background:#3e9286; border-top:2px solid #68aaa1;}
.cp_logo {height:80px; width:300px; background:transparent url(../images/cp_logo_white.png) no-repeat scroll 0 0}

/* top search button styles */
.btn-topsearch {background: transparent url("../images/btn_searchBar_aqua.png") no-repeat right top;}
	
/* category menu */
.adv_categories ul li.active { margin:0 -7px 0 -8px; padding:4px 7px 4px 8px; color:#fff; background:#3e9286;}
.adv_categories .catcol ul li.maincat a { margin:0; padding:4px 0; color:#3e9286; text-decoration:none;}

/* content */
.content_res .priceblockbig p.price { margin:0; padding:0; float:right; font:bold 18px/1.2em Arial, Helvetica, sans-serif; color:#3e9286;}
.content_res .priceblockbig p.location span { font-weight:bold; color:#3e9286;}
.content_res .priceblocksmall p.price { margin:0; padding:0; float:right; font:bold 13px/1.2em Arial, Helvetica, sans-serif; color:#3e9286;}
.content_res .stepsline div.l_ready { background:#3e9286;}
.content_res .stepsline div.no_ready { border:1px solid #1d675c;}																							 
.content_res .stepsline div.ni_ready { background:#3e9286; border-top:1px solid #6ac3e9;}
.content_left p.bigprice { color:#3e9286; float:right; font-size:18px; font-weight:bold; line-height:1.2em; margin:0; padding:8px 0 0; }
.content_res .can_chg_bg:hover { background-color: #EAF2FA; }

/* sidebar refine search */
.content_right ul.refine li input#amount, .content_right ul.refine li input#distance {color:#3e9286; border:0; font-weight:bold;}

/* footer */
.footer_menu { background:#3e9286; border-bottom:2px solid #68aaa1;}
.footer_main_res div.column p { margin:0; padding:0; font:normal 14px/1.8em Arial, Helvetica, sans-serif; color:#3e9286;}
.footer_main_res div.column p a { color:#3e9286;}
.footer_main_res div.column ul li a { color:#3e9286; text-decoration:none;}
.footer_main_res div.column { font:normal 14px/1.8em Arial, Helvetica, sans-serif; color:#3e9286;}