/*

-------------------------------
ClassiPress Custom Stylesheet
-------------------------------

Add your own custom styles here instead of editing the
core .css files. This makes it much easier to update
your theme when new versions are released. Simply copy
an existing style or create your own below. Anything
in this .css file will trump the existing styles.

*/

